<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequently Asked Questions</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="logo">
            <img src="/pictures/logo.jpeg" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="index.ejs">Home</a></li>
                <li><a href="find_a_backyard_page.ejs">Find a Backyard</a></li>
                <li><a href="signup_page.ejs">Host Application</a></li>
                <li><a href="our_story.ejs">Our Story</a></li>
                <li><a href="contact_us_page.ejs">Contact Us</a></li>
                <li><a href="faq_page.ejs">FAQ's</a></li>
                <li><a href="login_page.ejs">Login</a></li>
            </ul>
        </nav>
    </header>

    <!-- FAQ Section -->
    <div class="container">
        <h1>Frequently Asked Questions</h1>
        <div class="faq-section">
            <!-- FAQ Items -->
            <div class="faq-item">
                <h3>How much does a backyard venue cost?</h3>
                <p>While pricing varies greatly depending on backyard size, amenities, etc., the majority of our backyard venues range anywhere between $650 - $999. While we do have some backyard venues that cost more, they're still significantly more affordable than traditional venues.</p>
            </div>
            <div class="faq-item">
                <h3>What does my booking include?</h3>
                <p>Just as pricing varies depending on the venue you choose, so does what's included. Each backyard location will include a list of amenities so you know exactly what you're getting. Tables & chairs are not included with any of the venues, but we do partner with several table/chair rental companies to provide our customers with a special discount! (Ask us about our vendor list)</p>
            </div>
            <div class="faq-item">
                <h3>Can we see the venue in-person before booking?</h3>
                <p>Yes! You can schedule an in-person walk-thru for any of the available venues upon request. Typically these happen on Saturday, but we can coordinate a different time if that day absolutely does not work for you.</p>
            </div>
            <div class="faq-item">
                <h3>Do the venues include a bathroom or indoor access?</h3>
                <p>The majority of venues do provide use of an indoor bathroom, however the use of the home varies depending on the specific venue. Some may allow full access with no major restrictions while others might allow only partial use (like a basement or just a spare guest room). Be sure to check the amenities on each backyard venue you're interested in to see what the hosts provide.</p>
            </div>
            <div class="faq-item">
                <h3>What happens if there's bad weather?</h3>
                <p>We understand that having a backyard wedding does involve some risk, which is why we offer a refund for any event cancelled within 24 hours due to poor weather. Most hosts also allow guests the option of rebooking to any available date within 12 months.</p>
            </div>
            <div class="faq-item">
                <h3>Can we choose our own vendors?</h3>
                <p>Absolutely! One of the beauties of a backyard wedding is the flexibility. You're welcome to choose any vendors you wish, but if you do need help deciding, we can provide a list of some awesome, local vendors like florists, photographers, dj's, and more!</p>
            </div>
            <div class="faq-item">
                <h3>Who is responsible for clean up?</h3>
                <p>As a guest, you are responsible for any an all clean up. Your caterer may provide this service, but any venue that is not properly cleaned up after an event will be charged a cleaning fee. Some homeowners offer trash removal while others do not, so be sure to check your venue's amenities.</p>
            </div>
            <div class="faq-item">
                <h3>Can we come the day before for set up?</h3>
                <p>Yes! The majority of our backyard venues provide the option of coming the day before to set up at no additional cost. Typically there is an allotted time for set-up, so be sure to coordinate with your hosts for specific times.</p>
            </div>
        </div>
    </div>
</body>
</html>
