<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/styles/login_style.css">
</head>
<body>
  <header>
    <%- include('partials/navbar') %>
  </header>
  <div class="wrapper">
    <form action="/login" method="POST">
      <h2>Login</h2>
        <div class="input-field">
        <input type="text" name="email" id="email" required>
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" id="password" required>
        <label>Enter your password</label>
      </div>
      <button type="submit">Log In</button>
    </form>
  </div>
</body>
</html>