/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #F8F8F8;
    padding: 10px;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo img {
    width: 100px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Lora', serif;
    transition: color 0.3s;
}

nav ul li a:hover, nav ul li a:focus {
    color: #007B5E;
    border-bottom: 2px solid #007B5E;
    padding-bottom: 3px;
}

/* Find a Backyard Section */
.find-backyard {
    padding: 3rem 2rem;
    text-align: center;
}

.find-backyard h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Playfair Display', serif;
}

.find-backyard p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 2rem;
}

.venue-gallery {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.venue-item {
    width: 30%;
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.venue-item:hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #007B5E; /* Adding an outline on hover */
}

.venue-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.venue-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Lora', serif;
}

.venue-item p {
    font-size: 1rem;
    color: #666;
}

/* Footer */
footer {
    padding: 1.5rem;
    text-align: center;
    background: #fff;
    color: #333;
    font-size: 1rem;
    border-top: 1px solid #E0E0E0;
}
